<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!-- Change here for number of carousel items  -->
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "carousel/slider1.jpg", class: "first-slide", alt: "Carousel Image" %>
			<div class="container">
				<div class="carousel-caption">
					Learn
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/slider2.jpg", class: "second-slide", alt: "Carousel Image" %>
			<div class="container">
				<div class="carousel-caption">
					Play
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/slider3.jpg", class: "third-slide", alt: "Carousel Image" %>
			<div class="container">
				<div class="carousel-caption">
					Share
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag "learn.jpg", class: "rounded-circle", alt: "Image", width: "250", height: "250" %>
			<h2>We Teach</h2>
			<p>Employing from a pool of the best suited loving and qualifed educators</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "play.jpg", class: "rounded-circle", alt: "Image", width: "250", height: "250" %>
			<h2>We Play</h2>
			<p>Encouraging the kids to fully express themselves through fun and play</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "daycare.jpg", class: "rounded-circle", alt: "Image", width: "250", height: "250" %>
			<h2>We Guide</h2>
			<p>Our daycare program runs Monday to Friday, 8am - 5pm. We're here for you</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<h2 class="featurette-heading">We foster Creativity:<br><span class="text-muted">Perfect Blend of Work &amp; Play</span></h2>
			<p class="lead">Paiting, Legos, Drawing, and so much more</p>
		</div>
		<div class="col-md-7">
			<%= image_tag "creativity.jpg", class: "featurette-image img-fluid mx-auto", alt: "Image" %>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5 order-md-2">
			<h2 class="featurette-heading">We Play:<br><span class="text-muted">Unleashing their potential in eventful ways</span></h2>
			<p class="lead">Encouraging Self expression and Team work</p>
		</div>
		<div class="col-md-7 order-md-1">
			<%= image_tag "play2.jpg", class: "featurette-image img-fluid mx-auto", alt: "Image" %>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<h2 class="featurette-heading">We Learn:<br><span class="text-muted">Structured Comprehensive Curriculum</span></h2>
			<p class="lead">Delivered by seasoned professional and loving educators</p>
		</div>
		<div class="col-md-7">
			<%= image_tag "learn2.jpg", class: "featurette-image img-fluid mx-auto", alt: "Image" %>
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->

</div><!-- /.container -->